@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.bg-purple-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(93 93 255 / var(--tw-bg-opacity)) !important;
}
.bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 40 44 / var(--tw-bg-opacity)) !important;
}